<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambalaches</title>
    <link rel="stylesheet" href="styles/pagprinci.css">
    <style>
        body{
            background-image: image-set(imag/C4MBALACH3S);
        }
    </style>
</head>
<body>
    <div id="contenedor-secion">
        <header id="header">
        <div id="pgnombre"><h1>Cambalaches</h1></div>
        <nav id="ingreso">
            <ul>
               
                <li><a href="login.html">Inicio de sesión</a></li>
                <li><a href="registro.html">Regístrate</a></li>
            </ul>
        </nav>  
</header>
<section id="contenido">
    <aside id="aside">
        
        <ul>
            <h1 id="cate">Categorias</h1>
            <div id="cate"><li><a href="https://www.facebook.com/">Pantalones</a></li></div>
            <div id="cate"><li><a href="#">Camisas</a></li></div>
            <div id="cate"><li><a href="https://www.facebook.com/">Busos</a></li></div>
            <div id="cate"><li><a href="#">Chaquetas</a></li></div>
            <div id="info">
                <p>en el lateral derecho donde estan las fotos iran imagenes de productos los cuales seran de usuarios que pagan por publicidad</p>
            </div>
        </ul>
        
    </aside>
    <div id="catalogos">
        
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/C4MBALACH3S.png" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/Captura de pantalla_20230222_205602.png" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa </p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        <article class="cats">
            <div class="image-wrap">
                <img src="imag/descarga.jpg" alt="" width="250" height="180">
            </div>
            <div class="info-fot"><a href="#">Perfil De Usuarios</a>
            <p>aqui va la informacion sobre ropa</p>
        </div>
        </article>
        
        </div>
        </article>
    </div>
</section>
</div>
</body>
</html>